pipeline/Copy Customers Pipeline.json
{
	"name": "Copy Customers Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup Last Integration Date",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select LastIntegrationDate \nfrom dbo.IntegrationMarkers where TableName =  'Customer'\norder by LastIntegrationDate desc"
					},
					"dataset": {
						"referenceName": "TargetIntegrationMarkers",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup Updated Customers",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup Last Integration Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select count(1) as NumOfCustomers \nfrom SalesLT.Customer \nwhere ModifiedDate > '@{activity('Lookup Last Integration Date').output.firstRow.LastIntegrationDate}'",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "AwCustomersTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Any Customers To Update",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Updated Customers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup Updated Customers').output.firstRow.NumOfCustomers, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Customers",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select *\nfrom SalesLT.Customer \nwhere ModifiedDate > '@{activity('Lookup Last Integration Date').output.firstRow.LastIntegrationDate}'"
								},
								"sink": {
									"type": "AzureSqlSink",
									"sqlWriterStoredProcedureName": "[dbo].[sp_upsert_customers]",
									"sqlWriterTableType": "CustomerTable"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CustomerID",
												"type": "Int32"
											},
											"sink": {
												"name": "CustomerID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "NameStyle",
												"type": "Boolean"
											},
											"sink": {
												"name": "NameStyle",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"name": "Title",
												"type": "String"
											},
											"sink": {
												"name": "Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FirstName",
												"type": "String"
											},
											"sink": {
												"name": "FirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MiddleName",
												"type": "String"
											},
											"sink": {
												"name": "MiddleName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LastName",
												"type": "String"
											},
											"sink": {
												"name": "LastName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Suffix",
												"type": "String"
											},
											"sink": {
												"name": "Suffix",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CompanyName",
												"type": "String"
											},
											"sink": {
												"name": "CompanyName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SalesPerson",
												"type": "String"
											},
											"sink": {
												"name": "SalesPerson",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EmailAddress",
												"type": "String"
											},
											"sink": {
												"name": "EmailAddress",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Phone",
												"type": "String"
											},
											"sink": {
												"name": "Phone",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PasswordHash",
												"type": "String"
											},
											"sink": {
												"name": "PasswordHash",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PasswordSalt",
												"type": "String"
											},
											"sink": {
												"name": "PasswordSalt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "Guid"
											},
											"sink": {
												"name": "rowguid",
												"type": "Guid"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "DateTime"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "AwCustomersTable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CustomersTarget",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Update Marker",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy Customers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_update_marker]",
								"storedProcedureParameters": {
									"TableName": {
										"value": "Customer",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CustomersDb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Notify Success",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Update Marker",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"url": "https://prod-16.westeurope.logic.azure.com:443/workflows/c7907ae2c53d4c42af06736350a0d91f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=bgZTsV47pxxpgjVpw6UgmLEdqcnQzPAS3h6oXanB3Yw",
								"method": "POST"
							}
						}
					]
				}
			}
		]
	}
}