pipeline/Copy customers.json
{
	"name": "Copy customers",
	"properties": {
		"activities": [
			{
				"name": "Lookup LastIntegrationDate",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [LastIntegrationDate]\n  FROM [dbo].[IntegrationMarkers]\nwhere TableName = 'Customer'\norder by LastIntegrationDate desc"
					},
					"dataset": {
						"referenceName": "IntegrationMarker",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup Update Customers",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup LastIntegrationDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select count(*) as NumOfCustomers\nfrom SalesLT.Customer\nwhere ModifiedDate > \n'@{activity('Lookup LastIntegrationDate').output.firstRow.LastIntegrationDate}'",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "SourceCustomers",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Any Customer To Updated",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Update Customers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup Update Customers').output.firstRow.NumOfCustomers, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Customer",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select *\nfrom SalesLT.Customer\nwhere ModifiedDate > \n'@{activity('Lookup LastIntegrationDate').output.firstRow.LastIntegrationDate}'"
								},
								"sink": {
									"type": "AzureSqlSink",
									"sqlWriterStoredProcedureName": "[dbo].[sp_upsert_customers]",
									"sqlWriterTableType": "CustomerTable"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CustomerID",
												"type": "Int32"
											},
											"sink": {
												"name": "CustomerID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "NameStyle",
												"type": "Boolean"
											},
											"sink": {
												"name": "NameStyle",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"name": "Title",
												"type": "String"
											},
											"sink": {
												"name": "Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FirstName",
												"type": "String"
											},
											"sink": {
												"name": "FirstName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MiddleName",
												"type": "String"
											},
											"sink": {
												"name": "MiddleName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LastName",
												"type": "String"
											},
											"sink": {
												"name": "LastName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Suffix",
												"type": "String"
											},
											"sink": {
												"name": "Suffix",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CompanyName",
												"type": "String"
											},
											"sink": {
												"name": "CompanyName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SalesPerson",
												"type": "String"
											},
											"sink": {
												"name": "SalesPerson",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EmailAddress",
												"type": "String"
											},
											"sink": {
												"name": "EmailAddress",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Phone",
												"type": "String"
											},
											"sink": {
												"name": "Phone",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PasswordHash",
												"type": "String"
											},
											"sink": {
												"name": "PasswordHash",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PasswordSalt",
												"type": "String"
											},
											"sink": {
												"name": "PasswordSalt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "Guid"
											},
											"sink": {
												"name": "rowguid",
												"type": "Guid"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "DateTime"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SourceCustomers",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TargetCustomers",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		]
	}
}